<footer class="footer">
  <div class="footer-left">
    <a href="/"><img src="/images/Pokedex.webp" alt="" /></a>
  </div>
  <div class="footer-right">
    {{! <p>&copy; 2025 Fernando - Pokedex Manager</p> }}
    <a class="portfolio-link" href="https://fernandopeandrade.com/" target="_blank">Get to Know Me Here</a>
  </div>
</footer>