<header class="global-header">
    <h1 class="header-title">Pokédex Manager</h1>
  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/search">Add</a></li>
      <li><a href="/pokedex">Pokedex</a></li>
    </ul>
  </nav>
</header>