<header class="global-header">
  <div class="left-side">
    <h1 class="header-title">Pokedex</h1>
    <a class="a" href="/"><img src="/images/Pokedex.webp" alt="" /></a>
    <h1 class="header-title">Manager</h1>
  </div>
  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/search">Add</a></li>
      <li><a href="/pokedex">Pokedex</a></li>
    </ul>
  </nav>
</header>