<div class="edit-hero">
    <h1>Edit Pokemon</h1>
    <form method="POST">
        <div class="edit-row-1">
            <label class="form-label">Pokemon Name</label>
            <input type="text" name="name" class="form-control"
                   value="{{pokemon.name}}" required>
        </div>

        {{!-- <div class="mb-3">
            <label class="form-label">Image URL</label>
            <input type="text" name="image" class="form-control"
                   value="{{pokemon.image}}" required>
        </div> --}}

        <div class="edit-row-2">
            <button>Save</button>
            <a href="/pokedex">Cancel</a>
    </form>
        </div>
        
</div>
