<div class="home-pg-hero">
    <h1 >Welcome to your Pokedex Manager!</h1>
    <p>To get started, try searching up for a pokemon name!</p>
    <a href="/search"><img src="/images/pokeball.png" alt=""></a>
</div>
