<div class="search-hero">
    <h1>Search for a Pokemon</h1>

    {{#if error}}
        <div class="err">{{error}}</div>
    {{/if}}

    <form action="/search" method="get">
        <input type="text" name="name" placeholder="Enter Pokemon name">
        <button type="submit">Search</button>
    </form>
</div>
