<div class="text-center">
    <h1 class="mb-4">Search for a Pokémon</h1>

    {{#if error}}
        <div class="alert alert-danger">{{error}}</div>
    {{/if}}

    <form action="/search" method="get">
        <input type="text" name="name" placeholder="Enter Pokémon name">
        <button type="submit">Search</button>
    </form>
</div>
