<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
</head>

<body class="bg-light">

    {{> header }}

    <main class="container mt-4">
        {{{ body }}}
    </main>

    {{> footer }}
</body>
</html>
