<div class="login-hero">
  <h2>Login</h2>

  <form action="/login" method="POST">
    <input name="username" placeholder="Username" />
    <input name="password" type="password" placeholder="Password" />
    <button>Login</button>
  </form>

  <div class="login-gh">
    <p>Or</p>
    <a href="/auth/github">Login with GitHub</a>
  </div>
</div>