<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
  </head>
  <body>
    <header>
        <menu class="header-menu">
        <nav>
            <ul>
                <li><a href="./">Home</a></li>
                <li><a href="./about">About</a></li>
                <li><a href="./projects">Projects</a></li>
                <li><a href="./contact">Contact</a></li>
            </ul>
        </nav>
    </menu>
    </header>
    <section class="hero">
        <h1>About Me</h1>
        <div class="about-hero-container">
            <div class="abt-hero-left">
                 <img src="/images/imageprt.png" alt="">
            </div>
            <div class="abt-hero-right">
                <h2>A little bit about me...</h2>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quis dolor dolores quia dignissimos consequuntur est? Officiis optio veritatis distinctio magni omnis laboriosam id doloribus accusantium laborum quo, sequi assumenda saepe!</p>
            </div>
        </div>
    </section>
    <section class="sec1a">
        <div class="sec1a-container">
            <div class="sec1a-left">
                <div class="atw-card2">
                    <div class="ball"></div>
                    <p>Experience</p>
                 </div>
                <h2>My Previous Work Experience</h2>
            </div>
            <div class="sec1a-right">
                <h3>Front Desk</h3>
                <p>Trapped - Barrie, ON - 2025</p>
                <h3>Kitchen Helper</h3>
                <p>Pur & Simple - Barrie, ON - 2025</p>
                <h3>Garden Associate</h3>
                <p>Zehrs - Barrie, ON - 2025</p>
                <h3>Customer Service/Meat Clerk</h3>
                <p>Zehrs - Barrie, ON - 2025</p>
            </div>
        </div>
    </section>

    <section class="sec2a">
        <h2>Certifications</h2>
        <div class="sec2a-container">
            <div class="sec2a-row1">
                <div class="sec2a-box1">
                    <h3>Microsoft</h3>
                    <p>Microsoft Certified: Azure Fundamentals</p>
                </div>
                <div class="sec2a-box2">
                    <h3>Linkedin</h3>
                    <p>Cloud Management with Microsoft Intune</p>
                </div>
                <div class="sec2a-box3">
                    <h3>Linkedin</h3>
                    <p>Microsoft Azure Fundamentals (AZ- Microsoft Azure Fundamentals (AZ- 900)</p>
                </div>
                <div class="sec2a-box4">
                    <h3>Linkedin</h3>
                    <p>Microsoft Azure Fundamentals (AZ- 900) Cert Prep: 2 Azure Architecture and Security</p>
                </div>
                <div class="sec2a-box5">
                    <h3>Linkedin</h3>
                    <p>SharePoint Online Essential Training: The Basics</p>
                </div>
            </div>
            <div class="sec2a-row2">
                <div class="sec2a-box6">
                    <h3>Udemy</h3>
                    <p>The Complete 2023 Web Development Bootcamp</p>
                </div>
                <div class="sec2a-box7">
                    <h3>Udemy</h3>
                    <p>100 Days of code: The Complete Python Pro Bootcamp</p>
                </div>
                <div class="sec2a-box8">
                    <h3>Udemy</h3>
                    <p>Java Masterclass 2025: 130+ Hours of Expert Lessons</p>
                </div>
                <div class="sec2a-box9">
                    <h3>Cisco Academy</h3>
                    <p>Cisco CCNAv7: Introduction to Networks Certificate</p>
                </div>
                <div class="sec2a-box10">
                    <h3>Linkedin</h3>
                    <p>SharePoint Online Essential Training: The Basics</p>
                </div>
            </div>
        </div>
    </section>

    <footer>
        <menu class="footer-menu">
        <nav>
            <ul>
                <li class="github-logo"><a href="https://github.com/codebydevfer" target="_blank"><img src="images/githublogo.png" alt=""></a></li>
                <li class="linkedin-logo"><a href="https://www.linkedin.com/in/fernando-deandrade/" target="_blank"><img src="images/linkedinlogo.png" alt=""></a></li>
            </ul>
        </nav>
    </menu>
    </footer>
  </body>
</html>
