<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
  </head>
  <body>
    <header>
        <menu class="header-menu">
        <nav>
            <ul>
                <li><a href="./">Home</a></li>
                <li><a href="./about">About</a></li>
                <li><a href="./projects">Projects</a></li>
                <li><a href="./contact">Contact</a></li>
            </ul>
        </nav>
    </menu>
    </header>
    <section class="hero">
        <h1>About Me</h1>
        <div class="about-hero-container">
            <div class="abt-hero-left">
                 <img src="../public/images/" alt="">
            </div>
            <div class="abt-hero-right">
                <h2>Lorem, ipsum dolor.</h2>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quis dolor dolores quia dignissimos consequuntur est? Officiis optio veritatis distinctio magni omnis laboriosam id doloribus accusantium laborum quo, sequi assumenda saepe!</p>
            </div>
        </div>
    </section>
    <section class="sec1a">
        <div class="sec1a-container">
            <div class="sec1a-left">
                <h2>Lorem, ipsum dolor.</h2>
            </div>
            <div class="sec1a-right">
                <h3>Job Title</h3>
                <p>description</p>
                <h3>Job Title</h3>
                <p>description</p>
                <h3>Job Title</h3>
                <p>description</p>
                <h3>Job Title</h3>
                <p>description</p>
            </div>
        </div>
    </section>

    <section class="sec2a">
        <h2>Certifications</h2>
        <div class="sec2a-container">
            <div class="sec2a-row1">
                <div class="sec2a-box1">

                </div>
                <div class="sec2a-box2">

                </div>
                <div class="sec2a-box3">

                </div>
                <div class="sec2a-box4">
                    
                </div>
                <div class="sec2a-box5">

                </div>
            </div>
            <div class="sec2a-row2">
                <div class="sec2a-box6">

                </div>
                <div class="sec2a-box7">

                </div>
                <div class="sec2a-box8">

                </div>
                <div class="sec2a-box9">
                    
                </div>
                <div class="sec2a-box10">

                </div>
            </div>
        </div>
    </section>

    <footer>
        <menu class="footer-menu">
        <nav>
            <ul>
                <li><a href="./">GitHub</a></li>
                <li><a href="./">Linkedin</a></li>
            </ul>
        </nav>
    </menu>
    </footer>
  </body>
</html>
