<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
  </head>
  <body>
    <header>
        <menu class="header-menu">
        <nav>
            <ul>
                <li><a href="./">Home</a></li>
                <li><a href="./about">About</a></li>
                <li><a href="./projects">Projects</a></li>
                <li><a href="./contact">Contact</a></li>
            </ul>
        </nav>
    </menu>
    </header>
    <section class="hero">
        <h1>Contact</h1>
    </section>
    <section class="sec1c">
        <h2>I'd love to hear from you!</h2>
        <div class="sec1c-container">
            <div class="box1c">
                <p>contact@fernandopeandrade.com</p>
            </div>
            <div class="box2c">
                <a class="gh-c" href="https://github.com/codebydevfer" target="_blank"><img src="images/githublogo.png" alt=""></a>
                <a class="ld-c" href="https://www.linkedin.com/in/fernando-deandrade/" target="_blank"><img src="images/linkedinlogo.png" alt=""></a>
            </div>
        </div>
    </section>
    <footer>
        <menu class="footer-menu">
        <nav>
            <ul>
                <li class="github-logo"><a href="https://github.com/codebydevfer" target="_blank"><img src="images/githublogo.png" alt=""></a></li>
                <li class="linkedin-logo"><a href="https://www.linkedin.com/in/fernando-deandrade/" target="_blank"><img src="images/linkedinlogo.png" alt=""></a></li>
            </ul>
        </nav>
    </menu>
    </footer>
  </body>
</html>
