<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
  </head>
  <body>
    <header>
        <menu class="header-menu">
        <nav>
            <ul>
                <li><a href="./">Home</a></li>
                <li><a href="./about">About</a></li>
                <li><a href="./projects">Projects</a></li>
                <li><a href="./contact">Contact</a></li>
            </ul>
        </nav>
    </menu>
    </header>
    <section class="hero">
        <h1>Contact</h1>
    </section>
    <section class="sec1c">
        <h2>I'd love to hear from you!</h2>
        <div class="sec1c-container">
            <div class="box1c">
                <p>my email here</p>
            </div>
            <div class="box2c">
                <p>my socials here</p>
            </div>
        </div>
    </section>
    <section class="sec2c">
        <div class="sec2c-map">
            <p>google maps displaying my location</p>
        </div>
    </section>

    <footer>
        <menu class="footer-menu">
        <nav>
            <ul>
                <li><a href="./">GitHub</a></li>
                <li><a href="./">Linkedin</a></li>
            </ul>
        </nav>
    </menu>
    </footer>
  </body>
</html>
