<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
  </head>
  <body>
    <header>
        <menu class="header-menu">
        <nav>
            <ul>
                <li><a href="./">Home</a></li>
                <li><a href="./about">About</a></li>
                <li><a href="./projects">Projects</a></li>
                <li><a href="./contact">Contact</a></li>
            </ul>
        </nav>
    </menu>
    </header>
    <section class="hero">
        <h1>Fernando</h1>
        <p>I’m a Computer Programming student looking forward on gaining hands-on experience in the technology field.</p>
        <button class="contact-button">Contact Me</button>
    </section>

    <section class="sec1h">
        <h2>Lorem ipsum dolor sit amet.</h2>
        <div class="sec1-box-container-h">
            <div class="box1h">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus repellat earum quo adipisci dicta. Odio, quidem quo amet quisquam rerum qui vero soluta reprehenderit voluptatibus. Voluptate nobis debitis dolorem voluptatum.</p>
            </div>
            <div class="box2h">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus repellat earum quo adipisci dicta. Odio, quidem quo amet quisquam rerum qui vero soluta reprehenderit voluptatibus. Voluptate nobis debitis dolorem voluptatum.</p>
            </div>
            <div class="box3h">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus repellat earum quo adipisci dicta. Odio, quidem quo amet quisquam rerum qui vero soluta reprehenderit voluptatibus. Voluptate nobis debitis dolorem voluptatum.</p>
            </div>
        </div>  
    </section>

    <section class="sec2h">
        <div class="sec2-left-side-h">
            <h2>Lorem ipsum dolor sit amet.</h2>
            <button class="contact-button">Contact Me</button>
        </div>
        <div class="sec2-right-side-h">
            <h3>1. Lorem, ipsum dolor.</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat, sapiente.</p>
            <h3>2. Lorem, ipsum dolor.</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat, sapiente.</p>
            <h3>3. Lorem, ipsum dolor.</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat, sapiente.</p>
            <h3>4. Lorem, ipsum dolor.</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat, sapiente.</p>
        </div>
    </section>

    <section class="sec3h">
        <h2>Lorem ipsum dolor sit amet.</h2>
        <div class="sec3-box-container-h">
            <div class="box4h">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus repellat earum quo adipisci dicta. Odio, quidem quo amet quisquam rerum qui vero soluta reprehenderit voluptatibus. Voluptate nobis debitis dolorem voluptatum.</p>
            </div>
            <div class="box5h">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus repellat earum quo adipisci dicta. Odio, quidem quo amet quisquam rerum qui vero soluta reprehenderit voluptatibus. Voluptate nobis debitis dolorem voluptatum.</p>
            </div>
            <div class="box6h">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus repellat earum quo adipisci dicta. Odio, quidem quo amet quisquam rerum qui vero soluta reprehenderit voluptatibus. Voluptate nobis debitis dolorem voluptatum.</p>
            </div>
        </div>
        
    </section>
    <footer>
        <menu class="footer-menu">
        <nav>
            <ul>
                <li><a href="./">GitHub</a></li>
                <li><a href="./">Linkedin</a></li>
                {{!-- Add icons later --}}
            </ul>
        </nav>
    </menu>
    </footer>
  </body>
</html>
