<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <menu>
        <nav>
            <ul>
                <li><a href="./">Home</a></li>
                <li><a href="./about">About</a></li>
                <li><a href="./projects">Projects</a></li>
                <li><a href="./contact">Contact</a></li>
            </ul>
        </nav>
    </menu>
    <h1>This is the home page!</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae tenetur quam aperiam veritatis, harum eveniet voluptate, non dolores doloremque assumenda quaerat deleniti iste inventore totam corrupti dicta explicabo molestias. Accusamus.</p>
    <section class="sec1h">

    </section>
    <section class="sec2h">

    </section>
    <section class="sec3h">

    </section>
    <section class="sec4h">

    </section>
  </body>
</html>
