<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
  </head>
  <body>
    <header>
        <menu class="header-menu">
        <nav>
            <ul>
                <li><a href="./">Home</a></li>
                <li><a href="./about">About</a></li>
                <li><a href="./projects">Projects</a></li>
                <li><a href="./contact">Contact</a></li>
            </ul>
        </nav>
    </menu>
    </header>
    <section class="hero">
        <h1>Fernando</h1>
        <p>Hi, I’m Fernando. A Computer Programming student looking for opportunities to apply my experience in real-world scenarios.</p>
        <button class="contact-button">Contact Me</button>
    </section>

    <section class="sec1h">

    </section>
    <section class="sec2h">

    </section>
    <section class="sec3h">

    </section>
    <section class="sec4h">

    </section>

    <footer>
        <menu class="footer-menu">
        <nav>
            <ul>
                <li><a href="./">GitHub</a></li>
                <li><a href="./">Linkedin</a></li>
            </ul>
        </nav>
    </menu>
    </footer>
  </body>
</html>
