<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
  </head>
  <body>
    <header>
        <menu class="header-menu">
        <nav>
            <ul>
                <li><a href="./">Home</a></li>
                <li><a href="./about">About</a></li>
                <li><a href="./projects">Projects</a></li>
                <li><a href="./contact">Contact</a></li>
            </ul>
        </nav>
    </menu>
    </header>
    <section class="hero">
        <div class="atw-card">
            <div class="ball"></div>
            <p>Open to work</p>
        </div>
        <h1>Fernando</h1>
        <p>I’m a Computer Programming student looking forward on gaining hands-on experience in the technology field.</p>
        <a href="contact"><button class="contact-button">Contact Me</button></a>
    </section>

    <section class="sec1h">
        <h2>Why I'm Worth</h2>
        <div class="sec1-box-container-h">
            <div class="box1h">
                <h3>Driven to Learn and Grow</h3>
                <p>I’m always exploring new tools, improving my code, and pushing myself to be better with every project.</p>
            </div>
            <div class="box2h">
                <h3>Creative with a Purpose</h3>
                <p>I aim to create experiences that are practical, clean, and thoughtfully designed.</p>
            </div>
            <div class="box3h">
                <h3>Committed to Quality</h3>
                <p>I'm commited in writing clean code, testing thoroughly, and delivering results that meet real needs, whether through front-end or back-end.</p>
            </div>
        </div>  
    </section>

    <section class="sec2h">
        <div class="sec2-left-side-h">
            <div class="atw-card3">
                <div class="ball"></div>
                <p class="atw-card3-p">The Process</p>
            </div>
            <h2>How I Work</h2>
            <a href="contact"><button class="contact-button">Contact Me</button></a>
        </div>
        <div class="sec2-right-side-h">
            <h3>Lorem, ipsum dolor.</h3>
            <p>Lorem, ipsum dolor.</p>
            <h3>Lorem, ipsum dolor.</h3>
            <p>Lorem, ipsum dolor.</p>
            <h3>Lorem, ipsum dolor.</h3>
            <p>Lorem, ipsum dolor.</p>
            <h3>Lorem, ipsum dolor.</h3>
            <p>Lorem, ipsum dolor.</p>
        </div>
    </section>

    <section class="sec3h">
        <h2>What I Bring to the Table</h2>
        <div class="sec3-box-container-h">
            <div class="box4h">
                <h3>Development Skills</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus repellat earum quo adipisci dicta. Odio, quidem quo amet quisquam rerum qui vero soluta reprehenderit voluptatibus. Voluptate nobis debitis dolorem voluptatum.</p>
            </div>
            <div class="box5h">
                <h3>Creating Problem Solving</h3>
                <p>I love taking on challenges, finding efficient solutions, and continuously improving my code. Whether it’s debugging or designing features, I stay curious and driven.</p>
            </div>
            <div class="box6h">
                <h3>Team Player and Willingness to Learn</h3>
                <p>I work well with others, communicate clearly, and adapt quickly. I’m always open to feedback and eager to grow as a developer.</p>
            </div>
        </div>
        
    </section>
    <footer>
        <menu class="footer-menu">
        <nav>
            <ul>
                <li class="github-logo"><a href="https://github.com/codebydevfer" target="_blank"><img src="images/githublogo.png" alt=""></a></li>
                <li class="linkedin-logo"><a href="https://www.linkedin.com/in/fernando-deandrade/" target="_blank"><img src="images/linkedinlogo.png" alt=""></a></li>
            </ul>
        </nav>
    </menu>
    </footer>
  </body>
</html>
