<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
  </head>
  <body>
    <header>
        <menu class="header-menu">
        <nav>
            <ul>
                <li><a href="./">Home</a></li>
                <li><a href="./about">About</a></li>
                <li><a href="./projects">Projects</a></li>
                <li><a href="./contact">Contact</a></li>
            </ul>
        </nav>
    </menu>
    </header>
    <section class="hero">
        <h1>Projects</h1>
    </section>
    <section class="sec1p"> 
        <h2>Programming Language here</h2>
        <div class="sec1p-row1">
            <div class="sec1p-box1">

            </div>
            <div class="sec1p-box2">
                
            </div>
            <div class="sec1p-box3">
                
            </div>
        </div>
        <h2>Programming Language here</h2>
        <div class="sec1p-row2">
            <div class="sec1p-box4">

            </div>
            <div class="sec1p-box5">
                
            </div>
            <div class="sec1p-box6">
                
            </div>
        </div>
        <h2>Programming Language here</h2>
        <div class="sec1p-row3">
            <div class="sec1p-box7">

            </div>
            <div class="sec1p-box8">
                
            </div>
            <div class="sec1p-box9">
                
            </div>
        </div>
    </section>

    <footer>
        <menu class="footer-menu">
        <nav>
            <ul>
                <li><a href="./">GitHub</a></li>
                <li><a href="./">Linkedin</a></li>
            </ul>
        </nav>
    </menu>
    </footer>
  </body>
</html>
