<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
  </head>
  <body>
    <header>
        <menu class="header-menu">
        <nav>
            <ul>
                <li><a href="./">Home</a></li>
                <li><a href="./about">About</a></li>
                <li><a href="./projects">Projects</a></li>
                <li><a href="./contact">Contact</a></li>
            </ul>
        </nav>
    </menu>
    </header>
    <section class="hero">
        <h1>Projects</h1>
    </section>
    <section class="sec1p"> 
        <h2>Java</h2>
        <div class="sec1p-row1">
            <div class="sec1p-box1">
                <h3>Java Calculator App</h3>
                <p>Lorem ipsum dolor sit amet.</p>
            </div>
            <div class="sec1p-box2">
                <h3>Personal Finance Dashboard</h3>
                <p>under construction</p>
            </div>
            <div class="sec1p-box3">
                <h3>Android Rock Paper Scissors App</h3>
                <p>Lorem ipsum dolor sit amet.</p>
            </div>
        </div>
        <h2>Python</h2>
        <div class="sec1p-row2">
            <div class="sec1p-box4">
                <h3>To Do List</h3>
                <p>Lorem ipsum dolor sit amet.</p>
            </div>
            <div class="sec1p-box5">
                <h3>Web Scraping CryptoCurrencies</h3>
                <p>Lorem ipsum dolor sit amet.</p>
            </div>
            <div class="sec1p-box6">
                <h3>Coming Soon</h3>
                <p>Lorem ipsum dolor sit amet.</p>
            </div>
        </div>
        <h2>JavaScript</h2>
        <div class="sec1p-row3">
            <div class="sec1p-box7">
                <h3>Weather App</h3>
                <p>Lorem ipsum dolor sit amet.</p>
            </div>
            <div class="sec1p-box8">
                <h3>Portfolio Website</h3>
                <p>Lorem ipsum dolor sit amet.</p>
            </div>
            <div class="sec1p-box9">
                <h3>Coming Soon</h3>
                <p>Lorem ipsum dolor sit amet.</p>
            </div>
        </div>
    </section>

    <footer>
        <menu class="footer-menu">
        <nav>
            <ul>
                <li class="github-logo"><a href=""><img src="images/githublogo.png" alt=""></a></li>
                <li class="linkedin-logo"><a href=""><img src="images/linkedinlogo.png" alt=""></a></li>
            </ul>
        </nav>
    </menu>
    </footer>
  </body>
</html>
