* {
  padding: 0;
  margin: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  scroll-behavior: smooth;
}

/* Header */

.global-header {
  display: flex;
  height: 100px;
  width: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  /* position: fixed; */
  border-bottom: 1px solid black;
}

.global-header .left-side {
  margin: 15px;
}

.global-header .left-side {
  display: flex;
  flex-direction: row;
}

.global-header ul {
  display: flex;
  flex-direction: row;
  margin: 15px;
}

.global-header li {
  list-style: none;
}

.global-header li a {
  text-decoration: none;
  padding: 15px;
  color: rgb(216, 26, 26);
  text-transform: uppercase;
  transition: all 0.2s linear;
  border-bottom: 2px solid #fff;
  border-width: 50%;
}

.global-header li a:hover {
  border-bottom: 2px solid rgb(216, 26, 26);
}

.global-header .a {
  padding: 0;
}

.global-header ul li .login,
.global-header ul li .register{
  background-color: rgb(216, 26, 26);
  color: #fff;
  padding: 15px;
  border-radius: 30px;
  transform: scale(1);
  transition: all 0.2s linear;
}

.global-header ul li .login {
  margin-right: 7.5px;
}

.global-header ul li .register {
  margin-left: 7.5px;
  margin-right: 15px;
}

.global-header .login:hover,
.global-header .register:hover {
  transform: scale(0.9);
  cursor: pointer;
}

.header-title {
  color: rgb(216, 26, 26);
  font-size: 40px;
  padding: 10px;
}

.global-header img {
  width: 60px;
  height: auto;
  padding: 10px;
  padding-left: 10px;
  padding-top: 15px;
  transform: rotate(26deg);
}

/* Home Page */

.home-pg-hero {
  display: flex;
  height: 100vh;
  width: 100%;
  background-color: rgb(216, 26, 26);
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.home-pg-hero h1 {
  font-size: 40px;
  padding: 10px;
  color: #fff;
}

.home-pg-hero p {
  font-size: 20px;
  padding: 10px;
  padding-bottom: 30px;
  color: #fff;
}

.home-pg-hero a img {
  width: 120px;
  height: auto;
  transform: scale(1);
  transition: 0.2s all linear;
}

.home-pg-hero a img:hover {
  transform: scale(1.1);
}

/* Add/Search Page */

.search-hero {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  flex-direction: column;
  background-color: rgb(216, 26, 26);
}

.search-hero h1 {
  color: #fff;
  font-size: 40px;
  padding: 10px;
}

.search-hero form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.search-hero .err {
  color: #fff;
  font-size: 20px;
  padding: 10px;
}

.search-hero form {
  padding: 20px;
}

.search-hero form input {
  border: none;
  outline: none;
  padding: 15px;
  background-color: #fff;
  border-radius: 30px;
  text-align: center;
  margin: 15px;
}

.search-hero form input::placeholder {
  text-align: center;
}

.search-hero form button {
  outline: none;
  border: none;
  border-radius: 30px;
  padding: 10px;
  margin: 15px;
  width: 50%;
  transition: 0.2s all linear;
  transform: scale(1);
}

.search-hero form button:hover {
  transform: scale(0.9);
  cursor: pointer;
}

/* Search Result Page */

.searchResult-hero {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  flex-direction: column;
  background-color: rgb(216, 26, 26);
}

.searchResult-hero h2 {
  padding: 20px;
  color: white;
  font-size: 30px;
}

.result-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  height: auto;
  width: 300px;
  border-radius: 15px;
  box-shadow: 3px 3px 10px #00000042;
}

.result-card h2 {
  font-size: 20px;
  padding: 10px;
}

.result-card img {
  width: 150px;
  height: auto;
}

.result-card h3 {
  text-transform: capitalize;
  font-size: 20px;
  padding: 5px;
  margin: 10px;
}

.result-card p {
  text-transform: capitalize;
  font-size: 15px;
  padding: 2.5px;
}

.result-card button {
  outline: none;
  border: none;
  border-radius: 30px;
  padding: 10px;
  margin-top: 20px;
  /* margin-bottom: 10px; */
  background-color: rgb(216, 26, 26);
  color: #fff;
  transition: 0.2s all linear;
  transform: scale(1);
}

.result-card button:hover {
  cursor: pointer;
  transform: scale(0.9);
}

.result-card .addTo-btn,
.result-card .loginToAdd-btn {
  outline: none;
  border: none;
  border-radius: 30px;
  padding: 10px;
  margin-top: 20px;
  background-color: rgb(216, 26, 26);
  color: #fff;
  transition: 0.2s all linear;
  transform: scale(1);
}

.result-card .addTo-btn:hover,
.result-card .loginToAdd-btn:hover {
  cursor: pointer;
  transform: scale(0.9);
}

.result-card a {
  text-decoration: none;
  font-size: 15px;
  color: black;
  padding: 15px;
  margin-bottom: 10px;
  margin-top: 5px;
  transition: 0.2s all linear;
}

.result-card a:hover {
  color: rgb(216, 26, 26);
}

/* Pokedex */

.pokedex-hero {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  flex-direction: column;
  background-color: rgb(216, 26, 26);
}

.pokedex-hero h1 {
  color: #fff;
  padding: 15px;
  margin: 30px;
  font-size: 40px;
}

.pokedex-hero .row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.pokedex-hero .pokedex-card {
  display: flex;
  width: 200px;
  height: auto;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  padding: 10px;
  margin: 15px 30px;
  text-align: center;
  border-radius: 15px;
  box-shadow: 3px 3px 10px #00000042;
}

.pokedex-hero .pokedex-card .card-img-top {
  width: 120px;
  height: auto;
}

.pokedex-hero .pokedex-card p {
  font-size: 15px;
  text-transform: capitalize;
  padding: 2.5px;
}

.pokedex-hero .pokedex-card h5 {
  font-size: 20px;
  text-transform: capitalize;
  padding: 2.5px;
}

.pokedex-hero .pokedex-card .edit-delete {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.pokedex-hero .pokedex-card .edit-delete a img {
  width: 30px;
  height: auto;
  background-color: rgb(100, 167, 255);
  padding: 5px;
  margin-right: 10px;
  border-radius: 50%;
  transition: 0.2s all linear;
}

.pokedex-hero .pokedex-card .edit-delete a img:hover {
  cursor: pointer;
  background-color: rgb(166, 205, 255);
}

.pokedex-hero .pokedex-card .edit-delete button {
  border: none;
  outline: none;
  background: none;
}

.pokedex-hero .pokedex-card .edit-delete button img {
  width: 30px;
  height: auto;
  /* border: none;
  outline: none; */
  background-color: red;
  padding: 5px;
  margin-left: 10px;
  border-radius: 50%;
  transition: 0.2s all linear;
}

.pokedex-hero .pokedex-card .edit-delete button img:hover {
  cursor: pointer;
  background-color: rgb(255, 135, 135);
}

/* Edit Page */

.edit-hero {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  flex-direction: column;
  background-color: rgb(216, 26, 26);
}

.edit-hero h1 {
  text-align: center;
  color: #fff;
  font-size: 40px;
  padding: 15px;
  margin: 20px 0;
}

.edit-hero .edit-row-1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.edit-hero .edit-row-1 label {
  font-size: 25px;
  color: #fff;
  padding: 15px;
}

.edit-hero .edit-row-1 input {
  border: none;
  outline: none;
  padding: 15px;
  background-color: #fff;
  border-radius: 30px;
  text-align: center;
  margin: 15px;
  font-size: 15px;
  text-transform: capitalize;
}

.edit-hero .edit-row-2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.edit-hero .edit-row-2 button {
  outline: none;
  border: none;
  border-radius: 30px;
  padding: 10px;
  margin: 15px;
  width: 50%;
  transition: 0.2s all linear;
  transform: scale(1);
  background-color: rgb(157, 241, 31);
}

.edit-hero .edit-row-2 button:hover {
  transform: scale(0.9);
  cursor: pointer;
}

.edit-hero .edit-row-2 a {
  text-decoration: none;
  outline: none;
  border: none;
  border-radius: 30px;
  padding: 10px;
  margin: 15px;
  /* width: 50%; */
  transition: 0.2s all linear;
  transform: scale(1);
  background-color: #fff;
  color: black;
  text-align: center;
}

.edit-hero .edit-row-2 a:hover {
  transform: scale(0.9);
}

/* Login Page */

.login-hero {
  display: flex;
  height: 100vh;
  width: 100%;
  background-color: rgb(216, 26, 26);
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.login-hero h2 {
  color: #fff;
  font-size: 30px;
  padding: 30px;
}

.login-hero form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 70%;
}

.login-hero form input {
  border: none;
  outline: none;
  padding: 15px;
  background-color: #fff;
  border-radius: 30px;
  text-align: center;
  margin: 15px;
  width: 70%;
}

.login-hero form input::placeholder {
  text-align: center;
}

.login-hero .login-gh {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.login-hero .login-gh p {
  padding: 30px;
  color: #fff;
  text-transform: capitalize;
  font-size: 25px;
}

.login-hero button {
  outline: none;
  border: none;
  border-radius: 30px;
  padding: 10px;
  margin: 15px;
  width: 50%;
  transition: 0.2s all linear;
  transform: scale(1);
  background-color: #fff;
}

.login-hero button:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.login-hero .login-gh a {
  outline: none;
  border: none;
  border-radius: 30px;
  padding: 15px;
  margin: 15px;
  width: auto;
  transition: 0.2s all linear;
  transform: scale(1);
  background-color: rgb(157, 241, 31);
  text-decoration: none;
  text-align: center;
  color: #000;
}

.login-hero .login-gh a:hover {
  cursor: pointer;
  transform: scale(1.1);
}

/* Register Page */

.register-hero {
  display: flex;
  height: 100vh;
  width: 100%;
  background-color: rgb(216, 26, 26);
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.register-hero h2 {
  color: #fff;
  font-size: 30px;
  padding: 30px;
}

.register-hero form {
  display: flex;
  align-items: center;
  justify-self: center;
  width: 70%;
  flex-direction: column;
}

.register-hero form input {
  border: none;
  outline: none;
  padding: 15px;
  background-color: #fff;
  border-radius: 30px;
  text-align: center;
  margin: 15px;
  width: 70%;
}

.register-hero form input::placeholder {
  text-align: center;
}

.register-hero form button {
  outline: none;
  border: none;
  border-radius: 30px;
  padding: 10px;
  margin: 15px;
  width: 70%;
  transition: 0.2s all linear;
  transform: scale(1);
  background-color: rgb(157, 241, 31);
}

.register-hero form button:hover {
  cursor: pointer;
  transform: scale(1.1);
}

/* Footer */

.footer {
  display: flex;
  width: 100%;
  height: 130px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.footer-left a img {
  width: 100px;
  height: 100px;
  padding: 20px;
}

.footer .portfolio-link a {
  text-decoration: none;
  font-size: 25px;
  color: black;
  font-style: italic;
  text-align: center;
  padding: 20px;
}